@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hata";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">Bu sayfaya erişim yetkiniz yok.</p>
</header>
