@page
@model LoginModel

@{
    ViewData["Title"] = "Giriş";
}

<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg rounded-lg mt-5">
                <div class="card-header bg-gray-600">                    
                    <h6 class="text-center text-white my-1">T.C.</h6>
                    <h6 class="text-center text-white my-1">T.C. MİLLİ EĞİTİM BAKANLIĞI</h6>
                    <h6 class="text-center text-white my-1">YURT DIŞI OKUTMAN/ÖĞRETMEN GÖREVLENDİRME BİLGİ İŞLETİM SİSTEMİ</h6>
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div class="form-group">
                            <label class="small mb-1" asp-for="Input.Email"></label>
                            <input class="form-control py-4" asp-for="Input.Email" type="email" placeholder="E-Posta adresinizi yazınız" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" asp-for="Input.Password"></label>
                            <input class="form-control py-4" asp-for="Input.Password" type="password" placeholder="Şifrenizi giriniz" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group align-items-center mt-4 mb-0 text-center">                            
                            <button type="submit" class="btn btn-primary">Oturum Aç</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (DateTime.Now.Date < DateTime.Parse("01/03/2023").Date)
                    {
                        
                    }
                    else
                    {
                        <div class="small"><a asp-area="Identity" asp-page="/Account/Register">Yeni bir hesap oluştur</a></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
