@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>

    Şifreniz değiştirildi. Lütfen <a asp-page="./Login">oturum açmak için tıklayın</a>.
</p>
