
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/bootstrap/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
}

<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pen mr-1"></i>Not Ekleme/Güncelleme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="NotId" />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="small mb-1 font-weight-bold">Başlangıç Tarihi : </label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input id="inputBasTar" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="small mb-1 font-weight-bold">Bitiş Tarihi : </label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input id="inputBitTar" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="small mb-1 font-weight-bold">Not Başlığı : </label>
                            <input id="inputBaslik" type="text" class="form-control" />
                            <span class="text-danger">Örn: Toplantı, Doğum Günü vb.</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="small mb-1 font-weight-bold">Notum : </label>
                            <textarea id="inputNot" placeholder="Notunuzu buraya yazınız..." class="form-control" rows="3"></textarea>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Kapat&nbsp;</button>
                <button id="btnKaydet" type="button" class="btn btn-primary btn-sm">Kaydet</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-pen mr-1"></i>
                <b>Notlarım</b>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @*@foreach (var item in Model.Dentists)
            {
                <li data-value="@item.Id" class="list-group-item">@item.Name<button class="btn btn-sm mt-2 pull-right" style="background-color:@item.Color;"></button></li>
            }*@
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div id="calendar">

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-10-year-range.js"></script>
    <script src='~/lib/fullcalendar/core/main.js'></script>
    <script src='~/lib/fullcalendar/moment/main.js'></script>
    <script src='~/lib/fullcalendar/moment-timezone/main.js'></script>
    <script src="/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/bootstrap/main.js"></script>
    <script src="~/lib/fullcalendar/core/locales/tr.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var selectedEvent = null;
            var events = [];
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list', 'bootstrap', 'momentTimezone'],
                timeZone: 'Europe/Istanbul',
                themeSystem: 'bootstrap',
                bootstrapFontAwesome: {
                    /*dayGridMonth: 'calendar',*/
                    prev: 'fa-chevron-circle-left',
                    next: 'fa-chevron-circle-right',
                    listWeek: 'fa-list'
                },
                locale: 'tr',
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'dayGridMonth, timeGridWeek , listWeek' //timeGridForFourDay
                },
                footer: {
                    left: 'prevYear',
                    right: 'nextYear'
                },
                minTime: '08:00:00',
                maxTime: '24:00:00',
                snapDuration: '00:15:00',
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                },
                fixedWeekCount: true,
                showNonCurrentDates: true,
                contentHeight: 650,
                defaultView: 'dayGridMonth',
                weekends: true,
                /*hiddenDays: [0],*/
                allDaySlot: false,
                titleFormat: {
                    year: 'numeric',
                    month: 'long',
                    /* day: 'numeric'*/
                },
                titleRangeSeparator: ' / ',
                columnHeaderFormat: {
                    weekday: 'long'
                },
                views: {
                    timeGridForFourDay: {
                        type: 'timeGrid',
                        duration: { days: 4 },
                        buttonText: '4 Gün'
                    }
                },
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                },
                events: [],
                selectable: true,
                select: function (selectionInfo) {
                    console.log(selectionInfo);

                    selectedEvent = {
                        id: 0,
                        start: moment(selectionInfo.start),
                        end: moment(selectionInfo.end),
                        NotBaslik: "",
                        Not: "",
                        KullaniciId: 0
                    }

                    openEkleVeyaGuncelleModal();
                },
                eventClick: function (info) {
                    selectedEvent = {
                        id: info.event.id,
                        start: moment(info.event.start),
                        end: moment(info.event.end),
                        NotBaslik: info.event.extendedProps.NotBaslik,                        
                        Not: info.event.extendedProps.description,
                        KullaniciId: info.event.extendedProps.userId
                    };

                    $('#selectKullaniciIdDetail').val(info.event.extendedProps.userId);
                    $('#inputStartDateDetail').val(moment(info.event.start).format('DD/MM/YYYY HH:ss'));
                    $('#inputEndDateDetail').val(moment(info.event.end).format('DD/MM/YYYY HH:ss'))
                    $('#inputNotBaslikDetail').val(info.event.extendedProps.NotBaslik);                    
                    $('#inputNotDetayDetail').val(info.event.extendedProps.description);

                    $('#detailModal').modal();
                },
                editable: true,
                eventDrop: function (dropEventInfo) {
                    var Kullanici = {
                        Id: dropEventInfo.event.id,
                        UserId: dropEventInfo.event.extendedProps.userId,
                        StartDate: moment(dropEventInfo.event.start).format('DD/MM/YYYY HH:mm'),
                        EndDate: moment(dropEventInfo.event.end).format('DD/MM/YYYY HH:mm'),
                        NotBaslik: dropEventInfo.event.extendedProps.NotBaslik,                        
                        Not: dropEventInfo.event.extendedProps.description
                    }

                    NotEkle(Kullanici);


                },
                eventResize: function (dropEventInfo) {
                    var Kullanici = {
                        Id: dropEventInfo.event.id,
                        UserId: dropEventInfo.event.extendedProps.userId,
                        StartDate: moment(dropEventInfo.event.start).format('DD/MM/YYYY HH:mm'),
                        EndDate: moment(dropEventInfo.event.end).format('DD/MM/YYYY HH:mm'),
                        NotBaslik: dropEventInfo.event.extendedProps.NotBaslik,                        
                        Not: dropEventInfo.event.extendedProps.description
                    }

                    NotEkle(Kullanici);
                },

            });

            calendar.render();
            /*NotlariGetirKullaniciId();*/

            $('#datetimepicker1, #datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });

            function NotlariGetir() {
                $.ajax({
                    type: 'GET',
                    url: '/Notlar/NotGetirKullaniciId',
                    success: function (response) {
                        events = [];
                        var sources = calendar.getEventSources();
                        for (var i = 0; i < sources.length; i++) {
                            sources[i].remove();
                        }
                        for (var i = 0; i < response.length; i++) {
                            events.push({
                                id: response[i].id,                                
                                NotBaslik: response[i].NotBaslik,                                
                                start: response[i].startDate,
                                end: response[i].endDate,
                                not: response[i].description,
                                color: response[i].color,
                                userId: response[i].userId
                            });
                        }
                        calendar.addEventSource(events);
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.error('Notlarınız yüklenirken bir hata oluştu.');
                    }
                });
            }

            function NotlariGetirKullaniciId(KullaniciId) {
                $.ajax({
                    type: 'GET',
                    url: '/Notlar/NotGetirKullaniciId?userId=' + KullaniciId,
                    success: function (response) {
                        events = [];
                        var sources = calendar.getEventSources();
                        for (var i = 0; i < sources.length; i++) {
                            sources[i].remove();
                        }
                        for (var i = 0; i < response.length; i++) {
                            events.push({
                                id: response[i].id,                                
                                NotBaslik: response[i].NotBaslik,                                
                                start: response[i].startDate,
                                end: response[i].endDate,
                                not: response[i].description,
                                color: response[i].color,
                                userId: response[i].userId
                            });
                        }
                        calendar.addEventSource(events);
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.error('Notlarınız yüklenirken bir hata oluştu.');
                    }
                });
            }

            function openEkleVeyaGuncelleModal() {
                if (selectedEvent != null) {
                    $('#notId').val(selectedEvent.id);
                    $('#inputBasTar').val(selectedEvent.start.format('DD/MM/YYYY HH:mm'));
                    $('#inputBitTar').val(selectedEvent.end.format('DD/MM/YYYY HH:mm'));
                    $('#inputNotBaslik').val(selectedEvent.NotBaslik);                    
                    $('#inputNot').val(selectedEvent.description);
                    $('#selectKullaniciId').val(selectedEvent.KullaniciId);
                }

                $('#saveModal').modal();
            }

            function NotEkle(data) {

                $.ajax({
                    type: 'POST',
                    url: '/Kullanici/AddOrUpdateKullanici',
                    data: data,
                    success: function (response) {
                        if (response === "200") {
                            NotlariGetir();
                            $('#saveModal').modal('hide');
                            data.Id === "0" ? alertify.success('Notunuz başarıyla eklendi.') : alertify.success('Notunuz başarıyla güncellenmiştir.');
                        } else {
                            $('#saveModal').modal('hide');
                            alertify.warning('Notunuz eklenemedi.');
                        }
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.error('Erişim sağlanamadı.');
                    }
                });
            }

            $('#btnKaydet').click(function () {
                //validasyon
                if ($('#inputNotBaslik').val() === "") {
                    alert("Not adı belirtilmelidir.");
                    return;
                }

                if ($('#inputNot').val() === "") {
                    alert("Notunuzu yazmalısınız.");
                    return;
                }

                var Kullanici = {
                    Id: $('#notId').val(),
                    UserId: $('#selectKullaniciId').val(),
                    StartDate: $('#inputStartDate').val(),
                    EndDate: $('#inputEndDate').val(),
                    NotBaslik: $('#inputNotBaslik').val(),
                    Not: $('#inputNot').val()
                }


                NotEkle(Kullanici);
            });

            $('#btnGuncelle').click(function () {
                $('#detailModal').modal('hide');
                openEkleVeyaGuncelleModal();
            });

            $('#btnSil').click(function () {
                if (confirm('Randevuyu silmek istediğinize emin misiniz?')) {
                    $.ajax({
                        type: 'GET',
                        url: '/Kullanici/DeleteKullanici?id=' + selectedEvent.id,
                        success: function (response) {
                            if (response === '200') {
                                var event = calendar.getEventById(selectedEvent.id);
                                event.remove();
                                $('#detailModal').modal('hide');
                                alertify.success('Randevunuz silinmiştir.');
                            }
                        },
                        error: function () {
                            $('#detailModal').modal('hide');
                            alertify.error('Randevunuz silinirken bir problem oluştu.');
                        }
                    });
                }
            });

            $('.list-group-item').click(function () {
                $('.list-group-item').removeClass('active');
                $(this).addClass('active');
                NotlariGetirKullaniciId($(this).data('value'));
            });

        });
    </script>
}