@model IEnumerable<YOGBIS.Common.VModels.MulakatSorulariVM>

@if (Model != null)
{
    <!-- Sorular -->
    <div class="card-body p-2">
        <div class="row equal-height-row d-flex flex-wrap">
            @for (int i = 0; i < 4; i++)
            {
                var soru = Model.ElementAtOrDefault(i);
                if (soru != null)
                {
                    <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                        <h6 class="card-header text-center text-info font-weight-bold p-2">@soru.SoruKategoriTakmaAdi</h6>
                        <div class="card shadow-sm h-100">
                            <h6 class="card-header text-center text-danger font-weight-bold p-2">SORU</h6>
                            <div class="card-body h-100">
                                <p class="card-text h-100">
                                    @soru.Soru
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Cevaplar -->
        <div class="row equal-height-row d-flex flex-wrap mt-2">
            @for (int i = 0; i < 4; i++)
            {
                var soru = Model.ElementAtOrDefault(i);
                if (soru != null)
                {
                    <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                        <div class="card shadow-sm h-100">
                            <h6 class="card-header text-center text-primary font-weight-bold p-2">CEVAP</h6>
                            <div class="card-body h-100">
                                <p class="card-text">
                                    @soru.Cevap
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <!-- Soru gizle butonu -->
    <div class="card-footer p-2">
        <a class="btn btn-sm text-white w-100 text-capitalize" id="btnSoruBlokKapat" style="font-size:large;background-color:darkorange">SORULARI GİZLE</a>
    </div>
}
else
{
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h6 class="text-center text-danger font-weight-bold">Sorular Bulunamadı</h6>
            </div>
        </div>
    </div>
}

