
@{
    ViewData["Title"] = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center m-4"><i class="text-info"> Sıkça Sorulan Sorular</i> bu sayfada gösterilecektir.</h1>
<h1 class="text-center"><i class="fas fa-question"></i></h1>

