@using Microsoft.AspNetCore.Identity
@using YOGBIS.Common.SessionOperations
@inject SignInManager<YOGBIS.Data.DbModels.Kullanici> SignInManager
@inject UserManager<YOGBIS.Data.DbModels.Kullanici> UserManager


@if (SignInManager.IsSignedIn(User))
{

        <li class="nav-item text-xl-right">
            <a id="manage" class="nav-link text-danger" asp-area="Identity" asp-page="/Account/Manage/Index" title="Kullanıcı">
                Kullanıcı = @User.Identity.Name
            </a>
        </li>
        <li class="nav-item text-xl-right">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Güvenli Çıkış</button>
            </form>
        </li>
    
}

