@model YOGBIS.Common.VModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row m-2">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <h4 class="text-danger">Bilinmeyen bir hata oluştu !</h4>
        </div>
    </div>
</div>
<div class="row m-2">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <h4 class="text-danger">Bu durumu lütfen Sistem Yöneticisine bildiriniz.</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <a asp-controller="Home" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger btn-sm text-white mb-1" style="width:100px">Geri Dön</a>
        </div>
    </div>
</div>