@model List<YOGBIS.Common.VModels.AdayMYSSVM>
@{
    ViewData["Title"] = "Aday Takip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #blink {
        font-size: 14px;
        font-weight: bold;
    }
    .aday-link {
        color: #007bff;
        font-weight: bold;
    }
    .komisyon-badge {
        background-color: darkorange;
        font-weight: bold;
        font-size: 15px;
        height: 25px;
        display: inline-block;
        padding: 3px 10px;
    }
</style>

<ol class="breadcrumb m-o">
    <li class="m-0">
        <a asp-controller="AdayTakip" asp-action="Index"><i class="fas fa-sync-alt text-success" title="Sayfayı yenile"></i></a>
    </li>
    <li class="ml-3 mt-1 mr-1 pull-right">
        <h4 class="pull-right text-danger small">ADAY LİSTESİ - @DateTime.Now.ToShortDateString()</h4>
    </li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="AdayTable">
                        <thead>
                            <tr>
                                <th style="width:5%;font-size:13px" class="text-center">Sn</th>
                                <th style="width:45%;font-size:13px" class="text-center">Ad Soyad</th>
                                <th style="width:50%;font-size:13px" class="text-center">Komisyon</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                int siraNo = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="font-size:12px;font-weight:bold;" class="text-center">@siraNo</td>
                                        <td style="font-size:13px;" class="text-left">
                                            <span class="aday-link">@(string.IsNullOrEmpty(item.AdayAdiSoyadi) ? "İsim Belirtilmemiş" : item.AdayAdiSoyadi)</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge text-light komisyon-badge blink w-100">
                                                @(string.IsNullOrEmpty(item.MYSSKomisyonAdi) ? "Komisyon Belirtilmemiş" : item.MYSSKomisyonAdi)
                                            </span>
                                        </td>
                                    </tr>
                                    siraNo++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="text-center" style="padding: 20px;">
                                        <i class="fas fa-info-circle text-info mr-2"></i>
                                        Herhangi bir kayıt bulunamadı!
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        // $(document).ready(function () {
        //     document.querySelectorAll('.blink').forEach(function(element) {
        //         element.style.opacity = 1;
        //         setInterval(function () {
        //             element.style.opacity = (element.style.opacity == 0 ? 1 : 0);
        //         }, 1500);
        //     });
        // });
    </script>
}
