@*@model IEnumerable<YOGBIS.Common.VModels.MulakatSorulariVM>*@
@{
    ViewData["Title"] = "Mülakat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
}
<!-- #region blok css -->
<style type="text/css">
    #soruBlok {
        display: none;
    }

    #AdayNotBlok {
        display: none;
    }

    #btnBitir {
        display: none;
    }

    #AdayBilgiBlok {
        display: none;
    }

</style>
<!-- #endregion -->
<!-- Aday Özet Blok -->
<!-- #region name -->
<div class="row m-0 p-0">
    <div class="col-lg-12">
        <div class="card shadow-lg" style="height:75px">
            <h6 class="card-header text-center text-danger">ADAY BİLGİLERİ - @DateTime.Now.ToShortDateString() </h6>
            <div class="card-body p-1">
                <p class="card-text text-center text-danger font-weight-bold">
                    <span id="adayadsoyad" class="text-info">Aday Adı Soyadı</span>
                    <span>-</span>
                    <span id="adayderece" class="text-primary">Öğretmen</span>
                    <span>-</span>
                    <span id="adaybrans" class="text-secondary">Branş</span>
                    <span>-</span>
                    <span id="adayulke" class="text-dark">Ülke Grubu</span>
                </p>
            </div>
        </div>
        <div class="card shadow-lg" style="height:50px">
            <div class="card-body p-1">
                <p class="text-center font-weight-bold p-1">
                    <input value="Bilgi Formu" class="btn btn-primary btn-sm ml-1" style="width:180px" id="btnBilgi" />
                    <input value="Aday Sınava Girmedi" class="btn btn-danger btn-sm ml-1" id="btnIptal" />
                    <input value="Soruları Göster" class="btn btn-secondary btn-sm ml-1" id="btnSoruGoster" style="display:none" />
                </p>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- Buton Blok -->
<!-- #region name -->
<div class="row m-0 mt-1">
    <div class="col-lg-12">
        <input type="number" id="soruNo" class="form-control font-weight-bold text-center text-danger" style="font-size:22px;border-color:darkred;border-style:double" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" min="1" placeholder="Soru Numarasını Giriniz">
        <input type="submit" value="Mülakatı Başlat" class="btn btn-primary w-100 mt-1" id="btnBaslat" />
        <input type="submit" value="Mülakatı Bitir" class="btn btn-danger w-100 mt-1" id="btnBitir" />
    </div>
</div>
<!-- #endregion -->
<!--Aday Bilgi Blok-->
<!-- #region name -->
<div class="row col-xl-12 m-0 mt-2" id="AdayBilgiBlok" disable>
    @await Component.InvokeAsync("AdayBilgi")
</div>
<!-- #endregion -->
<!-- Not Blok-->
<!-- #region name -->
<div class="row col-xl-12 m-0 mt-2 disable" id="AdayNotBlok">
    @await Component.InvokeAsync("AdayNot")
</div>
<!-- #endregion -->
<!-- Soru Blok -->
<!-- #region name -->
<div class="row col-xl-12 m-0 mt-2" id="soruBlok">
    <div class="card shadow-xl rounded-xl col-xl-12">
        <!--sorular-->
        <div class="row equal-height-row d-flex flex-wrap">
            <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                <h6 class="card-header text-center text-info font-weight-bold">KATEGORİ-1</h6>
                <div class="card shadow-lg h-100">
                    <h6 class="card-header text-center text-danger font-weight-bold">SORU</h6>
                    <div class="card-body h-100">
                        <p class="card-text h-100">
                            İmtiyaz sahibi ve başyazarı Ebuzziya Tevfik  olan, yayımlandığı dönemde yaşanan ilmî,
                            edebî ve teknik gelişmelerle birlikte siyasi konulu makalelere yer verilen; Namık Kemal,
                            Şinasi, Ziya Paşa, Ali Kemal vb. gibi isimlerin  de yazılarının bulunduğu derginin adı nedir?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                <h6 class="card-header text-center text-info font-weight-bold">KATEGORİ-2</h6>
                <div class="card shadow-lg h-100">
                    <h6 class="card-header text-center text-danger font-weight-bold">SORU</h6>
                    <div class="card-body h-100">
                        <p class="card-text h-100">
                            "Sebil ve Güvercinler " adlı eser kime aittir?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                <h6 class="card-header text-center text-info font-weight-bold">KATEGORİ-3</h6>
                <div class="card shadow-lg h-100">
                    <h6 class="card-header text-center text-danger font-weight-bold">SORU</h6>
                    <div class="card-body h-100">
                        <p class="card-text h-100">
                            Bâki bu eserinde Mekke´nin tarihinden ve Osmanlı sultanlarının Mekke´de yaptırdığı eserlerden bahsetmektedir. Sözü edilen bu eserin adı nedir?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                <h6 class="card-header text-center text-info font-weight-bold">KATEGORİ-4</h6>
                <div class="card shadow-lg h-100">
                    <h6 class="card-header text-center text-danger font-weight-bold">SORU</h6>
                    <div class="card-body h-100">
                        <p class="card-text h-100">
                            “Denize Açılan Kapı” adlı eseriyle 1984 yılında Türkiye Yazarlar Birliği Yılın Hikâyecisi ödülüne layık görülen 2022 yılında kaybettiğimiz yazarımız kimdir?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- cevaplar -->
        <div class="row equal-height-row d-flex flex-wrap">
            <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                <div class="card shadow-lg h-100">
                    <h6 class="card-header text-center text-primary font-weight-bold">CEVAP</h6>
                    <div class="card-body">
                        <p class="card-text">Ziya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman Saba</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                <div class="card shadow-lg h-100">
                    <h6 class="card-header text-center text-primary font-weight-bold">CEVAP</h6>
                    <div class="card-body">
                        <p class="card-text">Ziya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman Saba</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                <div class="card shadow-lg h-100">
                    <h6 class="card-header text-center text-primary font-weight-bold">CEVAP</h6>
                    <div class="card-body">
                        <p class="card-text">SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman Saba</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1 d-flex flex-column justify-content-between">
                <div class="card shadow-lg h-100">
                    <h6 class="card-header text-center text-primary font-weight-bold">CEVAP</h6>
                    <div class="card-body">
                        <p class="card-text">SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman SabaZiya Osman Saba</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- soru goster buton -->
        <div class="row m-2">
            <a class="btn btn-sm text-white w-100 text-capitalize" id="btnSoruBlokKapat" style="font-size:large;background-color:darkorange">SORULARI GİZLE</a>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- Aday Listesi -->
<!-- #region name -->
<div class="col-xl-12 m-0 mt-2" id="AdayListesi">
    @await Component.InvokeAsync("AdayMulakatListe")
</div>
<!-- #endregion -->
<!-- Modal Uyarı -->
<!-- #region name -->
<div class="modal fade modal-xl" id="ModalUyari" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">UYARI</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="kapat()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modaltext"></div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" data-dismiss="modal" id="btnOk" onclick="kapat()">Tamam</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- Modal Sınav İptal-->
<!-- #region name -->
<div class="modal" id="ModalSinavIptal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">AÇIKLAMA</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="kapat()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modalSinavIptalBody">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/" method="post">
                            <div class="form-row mb-1">
                                <div class="form-group col-md-12">
                                    <textarea placeholder="Sınava girmeyen, alınmayan yada sınavı iptal edilen aday için açıklamaları buraya yazınız..." class="form-control" id="AciklamaTextArea" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-row mb-1 justify-content-center">
                                <button class="btn btn-primary col-md-12" type="submit" data-dismiss="modal" id="btnOk" onclick="kapat()">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script type="text/javascript">

        document.getElementById("Ortalama").val=0;
        document.getElementById("MYSPuan").val=0;
        document.getElementById("MYSSonuc").val="";
        document.getElementById("soruNo").focus();


        $('#btnBaslat').click(function () {

            //var saniye = 0;
            //var dakika = 0;
            //var sayac = 0;
            document.getElementById("soruNo").focus();
            var soruno = $("#soruNo").val();
            //alert(soruno);
            if (soruno > 0) {

                $("#btnBitir").show();
                $("#btnBaslat").hide();
                $('#soruBlok').show();
            }
            else {

                bootbox.alert({
                    title:'UYARI',
                    message: "Soru Numarası Yazınız...",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() { document.getElementById("soruNo").focus(); }
                    });
            }

        });

        $('#btnIptal').click(function () {

            $('#ModalSinavIptal').modal('show');
        });

        $('#btnBitir').click(function () {

            $('#soruBlok').hide();
            $('#AdayNotBlok').show();
            $('#AdayBilgiBlok').hide();
            document.getElementById("btnSoruGoster").style.display = "inline";
            document.getElementById("Kategori1-1").focus();
            document.getElementById("btnBitir").style.display = "none";
        });

        $('#btnBilgiFormKapat').click(function () {

            $('#AdayBilgiBlok').hide();

        });

        $('#btnSoruBlokKapat').click(function () {

            $('#soruBlok').hide();
            document.getElementById("btnSoruGoster").style.display = "inline";
        });

        //Aday Bilgi Formu Butonu
        $('#btnBilgi').click(function () {

            $('#AdayBilgiBlok').show();
            document.getElementById("soruNo").focus();
        });

        $('#btnSoruGoster').click(function () {

            $('#soruBlok').show();
            document.getElementById("soruNo").focus();
        });

        //Aday Çağrı Butonu
        $("#myTableNoButtons").on("click", ".btnCagri", function () {

            var btn = $(this);
            var id = btn.data("id");
            bootbox.alert({
                    title:'BİLGİ',
                    message: "Aday bekleme odasına çağrıldı !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() { /* your callback code */ }
                    });

        });

        //Aday Sınava Al Butonu
        $("#myTableNoButtons").on("click", ".btnSinavaAl", function () {

            var btn = $(this);
            var id = btn.data("id");
            bootbox.alert({
                    title:'BİLGİ',
                    message: "Aday sınava çağrıldı !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {
                                }
                    });

        });

        //Komisyon-1 not bloğu
        $(document).ready(function(){
        jQuery(".komisyon1Not").change(function(){


            var kom11=0,kom12=0,kom13=0,kom14=0,kom15=0,toplam1=0;

            if(parseInt($("#Kategori1-1").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori1-1").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori1-1").focus();}
                    });

            }
            else{
                document.getElementById("Kategori1-1").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori1-2").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori1-2").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori1-2").focus();}
                    });

            }
            else{
                document.getElementById("Kategori1-2").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori1-3").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori1-3").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori1-3").focus();}
                    });

            }
            else{
                document.getElementById("Kategori1-3").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori1-4").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori1-4").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori1-4").focus();}
                    });

            }
            else{
                document.getElementById("Kategori1-4").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori1-5").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori1-5").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori1-5").focus();}
                    });

            }
            else{
                document.getElementById("Kategori1-5").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori1-1").val())>=0)
            {
                kom11=$("#Kategori1-1").val();
            }
            else{
                kom11=0;
            }

            if(parseInt($("#Kategori1-2").val())>=0)
            {
                kom12=$("#Kategori1-2").val();
            }
            else{
                kom12=0;
            }

            if(parseInt($("#Kategori1-3").val())>=0)
            {
                kom13=$("#Kategori1-3").val();
            }
            else{
                kom13=0;
            }

            if(parseInt($("#Kategori1-4").val())>=0)
            {
                kom14=$("#Kategori1-4").val();
            }
            else{
                kom14=0;
            }

            if(parseInt($("#Kategori1-5").val())>=0)
            {
                kom15=$("#Kategori1-5").val();
            }
            else{
                kom15=0;
            }

            toplam1=parseInt(kom11)+parseInt(kom12)+parseInt(kom13)+parseInt(kom14)+parseInt(kom15);

            document.getElementById("Toplam1").value=toplam1;


            });
        });

        //Komisyon-2 not bloğu
        $(document).ready(function(){
        jQuery(".komisyon2Not").change(function(){


            var kom21=0,kom22=0,kom23=0,kom24=0,kom25=0,toplam2=0;

            if(parseInt($("#Kategori2-1").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori2-1").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori2-1").focus();}
                    });

            }
            else{
                document.getElementById("Kategori2-1").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori2-2").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori2-2").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori2-2").focus();}
                    });

            }
            else{
                document.getElementById("Kategori2-2").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori2-3").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori2-3").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori2-3").focus();}
                    });

            }
            else{
                document.getElementById("Kategori2-3").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori2-4").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori2-4").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori2-4").focus();}
                    });

            }
            else{
                document.getElementById("Kategori2-4").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori2-5").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori2-5").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori2-5").focus();}
                    });

            }
            else{
                document.getElementById("Kategori2-5").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori2-1").val())>=0)
            {
                kom21=$("#Kategori2-1").val();
            }
            else{
                kom21=0;
            }

            if(parseInt($("#Kategori2-2").val())>=0)
            {
                kom22=$("#Kategori2-2").val();
            }
            else{
                kom22=0;
            }

            if(parseInt($("#Kategori2-3").val())>=0)
            {
                kom23=$("#Kategori2-3").val();
            }
            else{
                kom23=0;
            }

            if(parseInt($("#Kategori2-4").val())>=0)
            {
                kom24=$("#Kategori2-4").val();
            }
            else{
                kom24=0;
            }

            if(parseInt($("#Kategori2-5").val())>=0)
            {
                kom25=$("#Kategori2-5").val();
            }
            else{
                kom25=0;
            }

            toplam2=parseInt(kom21)+parseInt(kom22)+parseInt(kom23)+parseInt(kom24)+parseInt(kom25);

            document.getElementById("Toplam2").value=toplam2;


            });
        });

        //Komisyon-3 not bloğu
        $(document).ready(function(){
        jQuery(".komisyon3Not").change(function(){


            var kom31=0,kom32=0,kom33=0,kom34=0,kom35=0,toplam3=0;

            if(parseInt($("#Kategori3-1").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori3-1").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori3-1").focus();}
                    });

            }
            else{
                document.getElementById("Kategori3-1").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori3-2").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori3-2").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori3-2").focus();}
                    });

            }
            else{
                document.getElementById("Kategori3-2").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori3-3").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori3-3").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori3-3").focus();}
                    });

            }
            else{
                document.getElementById("Kategori3-3").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori3-4").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori3-4").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori3-4").focus();}
                    });

            }
            else{
                document.getElementById("Kategori3-4").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori3-5").val())>20){
                bootbox.alert({
                    title:'UYARI',
                    message: "Verilen not 20 den büyük olamaz !",
                        label: 'Tamam',
                        backdrop: false,
                        locale:'tr',
                        callback: function() {

                            document.getElementById("Kategori3-5").className = "form-control py-1 text-center font-weight-bold komisyon1Not border-danger";
                            document.getElementById("Kategori3-5").focus();}
                    });

            }
            else{
                document.getElementById("Kategori3-5").className = "form-control py-1 text-center font-weight-bold komisyon1Not";
            }

            if(parseInt($("#Kategori3-1").val())>=0)
            {
                kom31=$("#Kategori3-1").val();
            }
            else{
                kom31=0;
            }

            if(parseInt($("#Kategori3-2").val())>=0)
            {
                kom32=$("#Kategori3-2").val();
            }
            else{
                kom32=0;
            }

            if(parseInt($("#Kategori3-3").val())>=0)
            {
                kom33=$("#Kategori3-3").val();
            }
            else{
                kom33=0;
            }

            if(parseInt($("#Kategori3-4").val())>=0)
            {
                kom34=$("#Kategori3-4").val();
            }
            else{
                kom34=0;
            }

            if(parseInt($("#Kategori3-5").val())>=0)
            {
                kom35=$("#Kategori3-5").val();
            }
            else{
                kom35=0;
            }

            toplam3=parseInt(kom31)+parseInt(kom32)+parseInt(kom33)+parseInt(kom34)+parseInt(kom35);

            document.getElementById("Toplam3").value=toplam3;


            });
        });

        //toplamlar bloğu
        $(document).ready(function() {
            $(".komisyonnotlar").on('change keyup paste', function() {

                    var top1 = parseInt($(Toplam1).val()) || 0;
                    var top2 = parseInt($(Toplam2).val()) || 0;
                    var top3 = parseInt($(Toplam3).val()) || 0;
                    var myyspuan=parseFloat($(MYYSPuan).val()) || 0;
                    var ortalama=0;


                    ortalama=(top1+top2+top3)/3;

                    $('#Ortalama').val(Math.ceil((top1+top2+top3)/3));


                    $('#MYSPuan').val(parseFloat((ortalama+myyspuan)/2).toFixed(2));

                    if(parseInt($(Ortalama).val())>=60){
                        document.getElementById("MYSSonuc").value="BAŞARILI";
                        document.getElementById("MYSSonuc").className = "form-control py-1 text-left text-success font-weight-bold h-100";
                    }
                    else{
                        document.getElementById("MYSSonuc").value="BAŞARISIZ";
                        document.getElementById("MYSSonuc").className = "form-control py-1 text-left text-danger font-weight-bold h-100";
                    }
            });
        });

        // #region sayaç

                        //            //////////////////////sayaç için başlangıç//////////////

                        var myVar = setInterval(myTimer, 1000);
                        document.getElementById("saniye").innerHTML = "00";
                        document.getElementById("dakika").innerHTML = "00";

                        $('.toast').toast('hide')

                        ////$("#derece").change(function () {


                        ////        document.getElementById("soruno").focus();
                        ////        var soru = $("#soruno").val();
                        ////        if (parseInt(soru) > 0) {

                        ////            document.getElementById("soruno").text = ""
                        ////        }
                        ////        else {

                        ////        }

                        ////});

                        //$("#baslat").click(function () {

                        /*var selectedText = $("#derece").find("option:selected").text();*/


                        //    if (selectedText.toString() == "Seçim yapınız") {

                        //        $('#ModalUyari').modal('show');
                        //        document.getElementById("modaltext").innerHTML = "Derece seçiniz !"
                        //    }
                        //    else {

                        /*var soruno = $("#soruno").val();*/
                        /*var obj = { selectedText: "Öğretmen", soruno = "5"};*/


                        //        if (soruno.toString() == "") {

                        //            $('#ModalUyari').modal('show');
                        //            document.getElementById("modaltext").innerHTML = "Soru numarası yazınız !"
                        //        }
                        //        else {
                        //$("#baslat").click(function () {
                        //    $.ajax({
                        //        type: "GET",
                        //        url: "/Mulakat/MulakatSoruGetir/" + soruno & selectedText,
                        //    });
                        //};
                        //var derece = "Öğretmen";
                        //var soruno = 5;


                        //if (sayac > 0) {

                        //function myTimer() {

                        //       // clearInterval(myVar);
                        //        var saniye = 0;
                        //        var dakika = 0;
                        //        var sayac = 0;
                        //    }
                        //}
                        // else {
                        //function myTimer() {

                        //    saniye = saniye + 1;
                        //    sayac = sayac + 1;


                        //    if (saniye < 10) {
                        //        document.getElementById("saniye").innerHTML = "0" + saniye;
                        //        document.getElementById("dakika").innerHTML = "00";
                        //    }
                        //    else {
                        //        document.getElementById("saniye").innerHTML = saniye;
                        //    }
                        //    if (saniye > 59) {
                        //        dakika = dakika + 1;
                        //        document.getElementById("dakika").innerHTML = "0" + dakika;
                        //        saniye = 0;
                        //        document.getElementById("saniye").innerHTML = "00";
                        //    }
                        //    if (dakika > 0) {
                        //        document.getElementById("dakika").innerHTML = "0" + dakika;
                        //    }
                        //    if (saniye > 5) {
                        //        $('.toast').toast('show')
                        //    }

                        //    //if (document.getElementById("sayac").hidden = false) {
                        //    //    document.getElementById("sayac").hidden = true;
                        //    //}
                        //    //else {
                        //    //    document.getElementById("sayac").hidden = false;
                        //    //}

                        //}
                        // }
                        //        }
                        //    }
                        //});

                        //function kapat() {
                        //    $('#ModalUyari').modal('hide');

                        //    var deger = $("#modaltext").find("option:selected").text();
                        //    if (deger = "Derece seçiniz !") {
                        //        document.getElementById("derece").focus();
                        //    }
                        //    //var deger1 = $("#modaltext").find("option:selected").text();
                        //    //if (deger1 = "Soru numarası yazınız !") {
                        //    //    document.getElementById("soruno").focus();
                        //    //}
                        //};


        // #endregion


    </script>
}


