@model IEnumerable<YOGBIS.Common.VModels.MulakatSorulariVM>
@{
    ViewData["Title"] = "MulakatSorulari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-4">
    <div class="col-lg-2">
        <div class="card shadow-lg mb-1" style="height:100px">
            <h4 class="card-header text-center text-danger small">GEÇEN SÜRE</h4>
            <div class="card-body">
                <p class="card-text text-center text-danger font-weight-bold">
                    <span id="dakika">00</span>
                    <span id="sayac">:</span>
                    <span id="saniye">00</span>
                </p>
            </div>
        </div>
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast text-center" data-autohide="false" data-delay="10000">
            <div class="toast-header bg-white text-center text-danger">
                <strong class="mr-auto">UYARI</strong>
            </div>
            <div class="toast-body bg-white text-danger">
                Mülakat için ayrılan süreyi geçtiniz !
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        @*<form class="form-group" asp-action="Index">*@
            <div class="row col-lg-12 mb-2">
                <select class="form-control-range form-control font-weight-bold" id="derece" aria-label="Default select example">
                    <option value="0" selected class="font-weight-bold text-center" id="secim" title="Seçim yapınız">Seçim yapınız</option>
                    <option value="1" id="ogretmen" title="Öğretmen">Öğretmen</option>
                    <option value="2" id="okutman" title="Okutman">Okutman</option>
                </select>
            </div>
            <div class="row input-group mb-2 col-lg-12">
                <input type="number" class="form-control font-weight-bold text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                       placeholder="Soru Numarasını Giriniz" id="soruno">
            </div>
            <div class="row col-lg-12 mb-2">
                <input type="submit" value="Mülakatı Başlat" class="btn btn-primary col-lg-12" id="baslat" />
            </div>
            <div class="row col-lg-12 mb-2">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4">
                            <div class="card shadow-lg mb-1" style="height:160px">
                                <h4 class="card-header text-center text-info">Kategori</h4>
                                <div class="card-body">
                                    <p class="card-text">@item.KategoriAdi</p>
                                </div>
                            </div>
                            <div class="card shadow-lg mb-1" style="height:300px">
                                <h4 class="card-header text-center text-danger">Soru</h4>
                                <div class="card-body">
                                    <p class="card-text">@item.Soru</p>
                                </div>
                            </div>
                            <div class="card shadow-lg mb-1" style="height:300px">
                                <h4 class="card-header text-center text-primary">Cevap</h4>
                                <div class="card-body">
                                    <p class="card-text">@item.Cevap</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <div>Kayıt bulunamadı!</div>
                    </div>
                }
            </div>
        @*</form>*@
    </div>
</div>
<!-- uyarı Modal-->
<div class="modal fade" id="ModalUyari" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">UYARI</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="kapat()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modaltext"></div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" data-dismiss="modal" id="btnOk" onclick="kapat()">Tamam</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $("#derece").change(function () {

            document.getElementById("soruno").focus();
            var soru = $("#soruno").val();
            if (parseInt(soru) > 0) {

                document.getElementById("soruno").innerHTML = "0"
            }
            else {

            }
        });

        $("#baslat").click(function () {

            var selectedText = $("#derece").find("option:selected").text();

            if (selectedText.toString() == "Seçim yapınız") {

                $('#ModalUyari').modal('show');
                document.getElementById("modaltext").innerHTML = "Derece seçiniz !"
            }
            else {

                var soruno = $("#soruno").val();

                if (soruno.toString() == "") {

                    $('#ModalUyari').modal('show');
                    document.getElementById("modaltext").innerHTML = "Soru numarası yazınız !"
                }
                else {

                    $.ajax({
                        type: "GET",
                        url: "/Mulakat/MulakatSoruGetir/" + soruno,
                    });

                    var saniye = 0;
                    var dakika = 0;
                    var sayac = 0;
                    document.getElementById("saniye").innerHTML = "00";
                    document.getElementById("dakika").innerHTML = "00";

                    if (sayac = 0) {

                        location.reload();
                        clearInterval(interval);
                        /*alert(sayac);*/
                    }
                    else {

                        $('.toast').toast('hide')


                        const interval = setInterval(() => {

                            saniye = saniye + 1;
                            sayac = sayac + 1;


                            if (saniye < 10) {
                                document.getElementById("saniye").innerHTML = "0" + saniye;
                                document.getElementById("dakika").innerHTML = "00";
                            }
                            else {
                                document.getElementById("saniye").innerHTML = saniye;
                            }
                            if (saniye > 59) {
                                dakika = dakika + 1;
                                document.getElementById("dakika").innerHTML = "0" + dakika;
                                saniye = 0;
                                document.getElementById("saniye").innerHTML = "00";
                            }
                            if (dakika > 0) {
                                document.getElementById("dakika").innerHTML = "0" + dakika;
                            }
                            if (saniye > 5) {
                                $('.toast').toast('show')
                            }

                            //if (document.getElementById("sayac").hidden = false) {
                            //    document.getElementById("sayac").hidden = true;
                            //}
                            //else {
                            //    document.getElementById("sayac").hidden = false;
                            //}

                        }, 1000);
                    }

                }
            }

        });



        function kapat() {
            $('#ModalUyari').modal('hide');

            if (document.getElementById("modaltext").innerHTML = "Derece seçiniz !") {
                document.getElementById("derece").focus();
            }
            if (document.getElementById("modaltext").innerHTML = "Soru numarası yazınız !") {
                document.getElementById("soruno").focus();
            }
        };
    </script>
}


