@using Microsoft.AspNetCore.Identity
@inject SignInManager<YOGBIS.Data.DbModels.Kullanici> SignInManager
@inject UserManager<YOGBIS.Data.DbModels.Kullanici> UserManager
@model YOGBIS.Common.VModels.AdayBasvuruBilgileriVM
@{
    ViewData["Title"] = "Adaylar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 mb-1">
        <div class="card shadow-lg rounded-lg">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                <b>Aday Başvuru Bilgileri Güncelle</b>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-md-12">
        @await Component.InvokeAsync("AdayBasvuruGuncelleme")
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">



    </script>
}

