@model IEnumerable<YOGBIS.Common.VModels.SoruDerecelerVM>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Dereceler</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Derece</th>
                        <th class="text-center">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td>
                                    <a asp-controller="Dereceler" asp-action="Guncelle" asp-route-id="@item.DereceId">@item.DereceAdi</a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-danger btnSil" data-id="@item.DereceId">
                                        <i class="fas fa-trash text-white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
