@model YOGBIS.Common.VModels.AdaylarVM



<div class="card shadow-lg rounded-lg col-lg-12">
    <div class="card-body">
        <form class="form-group m-0">
            @Html.HiddenFor(x => x.AdayId)
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            
            <div class="form-row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="DogumYeri" class="small mb-1 font-weight-bold">Dogum Yeri</label>
                        <input asp-for="DogumYeri" type="text" class="form-control py-2" id="DogumYeri">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IkametIl" class="small mb-1 font-weight-bold">İkamet İl</label>
                        <input asp-for="IkametIl" type="text" class="form-control py-2" id="IkametIl">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="KurumAdi" class="small mb-1 font-weight-bold">Kurum Adı</label>
                        <input asp-for="KurumAdi" type="text" class="form-control py-2" id="KurumAdi">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="GorevIptalAck" class="small mb-1 font-weight-bold">Görev İptal</label>
                        <input asp-for="GorevIptalAck" type="text" class="form-control py-2" id="GorevIptalAck">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="GorevIptalYil" class="small mb-1 font-weight-bold">Görev İptal Yıl</label>
                        <input asp-for="GorevIptalYil" type="text" class="form-control py-2" id="GorevIptalYil">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IlkGorevKaydi" class="small mb-1 font-weight-bold">İlk Görev Kaydı</label>
                        <input asp-for="IlkGorevKaydi" type="text" class="form-control py-2" id="IlkGorevKaydi">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Sendika" class="small mb-1 font-weight-bold">Sendika</label>
                        <input asp-for="Sendika" type="text" class="form-control py-2" id="Sendika">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="YabanciDilALM" class="small mb-1 font-weight-bold">Almanca</label>
                        <input asp-for="YabanciDilALM" type="text" class="form-control py-2" id="YabanciDilALM">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="YabanciDilIGN" class="small mb-1 font-weight-bold">İnglizce</label>
                        <input asp-for="YabanciDilIGN" type="text" class="form-control py-2" id="YabanciDilIGN">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="YabanciDilFRS" class="small mb-1 font-weight-bold">Fransızca</label>
                        <input asp-for="YabanciDilFRS" type="text" class="form-control py-2" id="YabanciDilFRS">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="YabanciDilDiger" class="small mb-1 font-weight-bold">Diğer</label>
                        <input asp-for="YabanciDilDiger" type="text" class="form-control py-2" id="YabanciDilDiger">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="IlMemGorus" class="small mb-1 font-weight-bold">İl Görüş</label>
                        <textarea asp-for="IlMemGorus" class="form-control" id="IlMemGorus" rows="5"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EDurum" class="small mb-1 font-weight-bold">EDurum</label>
                        <textarea asp-for="EDurum" class="form-control" id="EDurum" rows="5"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="form-row mb-3">
                <div class="col-md-12 center">                    
                    <a class="btn btn-sm text-white w-100 text-capitalize" title="Kapat" id="btnBilgiFormKapat" style="font-size:large;background-color:darkorange">BİLGİ FORMUNU KAPAT</a>                    
                </div>
            </div>

        </form>
    </div>
</div>

