@model YOGBIS.Common.VModels.SoruKategorilerVM
@{
    ViewData["Title"] = "Soru Kategorileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<ol class="breadcrumb mb-4 mt-2">
    <li>
        <a asp-controller="SoruKategorileri" asp-action="SoruKategoriEkle" class="btn btn-success btn-circle btn-sm w-100" title="Yeni Kayıt">
            Yeni Kayıt <i class="fas fa-plus-circle"></i>
        </a>
    </li>
</ol>*@
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-pen mr-1"></i>
                <b>Soru Kategorisi Ekleme/Güncelleme</b>
            </div>
            <div class="card-body">
                <form class="form-group m-0" asp-action="SoruKategoriEkle">
                    @Html.HiddenFor(x => x.SoruKategorilerId)
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SoruKategorilerAdi" class="small mb-1 font-weight-bold">Kategori Adı</label>
                                <input asp-for="SoruKategorilerAdi" type="text" class="form-control py-2" id="SoruKategorilerAdi" placeholder="Kategori Adını Giriniz">
                                <span class="text-danger" asp-validation-for="SoruKategorilerAdi"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="DereceId" class="small mb-1 font-weight-bold">Derece</label>
                                @Html.DropDownListFor(u => u.DereceId, new SelectList(ViewBag.Dereceler, "DereceId", "DereceAdi"), "Dereceyi seçiniz", new { @class = "form-control-range form-control py-2" })
                                <span class="text-danger" asp-validation-for="DereceId"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SoruKategorilerKullanimi" class="small mb-1 font-weight-bold">Kategori Kullanımı</label>
                                <select asp-for="SoruKategorilerKullanimi" class="form-control-range form-control py-2" aria-label="Default select example" id="SoruKategorilerKullanimi">
                                    <option asp-for="SoruKategorilerKullanimi" selected class="text-center"></option>
                                    <option asp-for="SoruKategorilerKullanimi" value="Sınav">Sınav</option>
                                    <option asp-for="SoruKategorilerKullanimi" value="Değerlendirme">Değerlendirme</option>
                                </select>
                                <span class="text-danger" asp-validation-for="SoruKategorilerKullanimi"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="SoruKategorilerPuan" class="small mb-1 font-weight-bold">Kategori Puan</label>
                                <input asp-for="SoruKategorilerPuan" type="number" max="30" min="0" class="form-control py-2" id="SoruKategorilerPuan" placeholder="Kategori Puanını Giriniz">
                                <span class="text-danger" asp-validation-for="SoruKategorilerPuan"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-sm text-white mb-1" id="btnYeni" style="width:100px">Yeni Kayıt</a>
                            <input type="submit" value="Kaydet" class="btn btn-success btn-sm text-white mb-1" style="width:100px"/>
                            <a class="btn btn-danger btn-sm text-white mb-1" id="btnSil" style="width:100px">Sil</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @await Component.InvokeAsync("SoruKategoriListesi")
    </div>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $("#btnSil").on("click", function () {

            document.getElementById("SoruKategorilerId").focus();
            var kategorino = $("#SoruKategorilerId").val();
            var id = parseInt(kategorino);
            /*alert(id);*/

            bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                if (result) {
                    $.ajax({
                        type: "DELETE",
                        url: "/SoruKategorileri/SoruKategoriSil/" + id,
                        success: function () {
                            location.reload();
                        }
                    });
                }
            });

        });

        $("#btnYeni").on("click", function () {
            document.getElementById("SoruKategorilerId").focus();
            document.getElementById("SoruKategorilerId").value = "";
            document.getElementById("btnSil").className += " disabled";
            document.getElementById("SoruKategorilerPuan").focus();
            document.getElementById("SoruKategorilerPuan").value = "";
            document.getElementById("SoruKategorilerKullanimi").focus();
            document.getElementById("SoruKategorilerKullanimi").value = "";
            document.getElementById("DereceId").focus();
            document.getElementById("DereceId").value = "";
            document.getElementById("SoruKategorilerAdi").focus();
            document.getElementById("SoruKategorilerAdi").value = "";
        });

    </script>
}
