
@model YOGBIS.Common.VModels.DerecelerVM
@{
    ViewData["Title"] = "Dereceler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-lg rounded-lg mt-0 h-100">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                <b>Derece Kayıt İşlemleri</b>
            </div>
            <div class="card-body">
                <form class="form-group m-0" asp-action="Ekle">
                    @*@Html.HiddenFor(x => x.Id)*@
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DereceAdi" class="small mb-1 font-weight-bold">Derece</label>
                                <input asp-for="DereceAdi" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Derece adını giriniz">
                                <span class="text-danger" asp-validation-for="DereceAdi"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <a asp-controller="Dereceler" asp-action="Index" id="yenile" name="yenile" class="btn btn-primary btn-sm mb-1" style="width:100px">Yeni Kayıt</a>
                            <input type="submit" value="Kaydet" class="btn btn-success btn-sm mb-1" style="width:100px" />
                            <a asp-controller="Dereceler" asp-action="Index" id="degistir" name="degistir" class="btn btn-info btn-sm mb-1" style="width:100px">Değiştir</a>
                            <a asp-controller="Dereceler" asp-action="Index" id="sil" name="sil" class="btn btn-danger btn-sm mb-1" style="width:100px">Sil</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

