@model YOGBIS.Common.VModels.OgrencilerVM
@{
    ViewData["Title"] = "Öğrenci Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg rounded-lg mt-0 h-auto">
            <div class="card-header">
                <i class="fas fa-pen mr-1"></i>
                <b>Öğrenci Ekleme/Güncelleme</b>
            </div>
            <div class="card-body">
                <form class="form-group m-0" asp-action="OgrenciEkle">
                    @Html.HiddenFor(x => x.OgrencilerId)
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="UlkeAdi" class="small mb-1 font-weight-bold">Ülke</label>
                                @Html.DropDownListFor(u => u.UlkeId, new SelectList(ViewBag.UlkeAdi, "UlkeId", "UlkeAdi"), "Ülkeyi seçiniz", new { @class = "form-control-range form-control py-2" })
                                <span class="text-danger" asp-validation-for="UlkeId"></span>
                            </div>
                        </div>
                    @*</div>
                    <div class="form-row">*@
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="OkulAdi" class="small mb-1 font-weight-bold">Okul Adı</label>
                                @Html.DropDownListFor(u => u.OkulId, new SelectList(ViewBag.OkulAdi, "OkulId", "OkulAdi"), "Okul adını seçiniz", new { @class = "form-control-range form-control py-2" })
                                <span class="text-danger" asp-validation-for="OkulId"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Yil" class="small mb-1 font-weight-bold">Dönem Yıl</label>
                                <select asp-for="Yil" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option asp-for="Yil" selected class="text-center"></option>
                                    @*<option asp-for="Yil" value="2020">2020</option>*@
                                    <option asp-for="Yil" value="2021">2021</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Yil"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Ay" class="small mb-1 font-weight-bold">Dönem Ay</label>
                                @Html.DropDownList("AyListesi", new SelectList(Enum.GetValues(typeof(EnumAylar))), "Ay Seç", new { @class = "form-control-range form-control py-1 w-100" })
                                @*<select asp-for="Ay" class="form-control-range form-control py-2" aria-label="Default select example">
            <option asp-for="Ay" selected class="text-center"></option>
            <option asp-for="Ay" value="Ocak">Ocak</option>
            <option asp-for="Ay" value="Şubat">Şubat</option>
            <option asp-for="Ay" value="Mart">Mart</option>
            <option asp-for="Ay" value="Nisan">Nisan</option>
            <option asp-for="Ay" value="Mayıs">Mayıs</option>
            <option asp-for="Ay" value="Haziran">Haziran</option>
            <option asp-for="Ay" value="Temmuz">Temmuz</option>
            <option asp-for="Ay" value="Ağustos">Ağustos</option>
            <option asp-for="Ay" value="Eylül">Eylül</option>
            <option asp-for="Ay" value="Ekim">Ekim</option>
            <option asp-for="Ay" value="Kasım">Kasım</option>
            <option asp-for="Ay" value="Aralık">Aralık</option>
        </select>*@
                                <span class="text-danger" asp-validation-for="Ay"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">TC Erkek</label>
                                <input type="number" min="0" max="9999" asp-for="TCEOg" class="form-control py-2 ogrsay" id="TCErkek" placeholder="">
                                <span class="text-danger" asp-validation-for="TCEOg"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">TC Kız</label>
                                <input type="number" min="0" max="9999" asp-for="TCKOg" class="form-control py-2 ogrsay" id="TCKiz" placeholder="">
                                <span class="text-danger" asp-validation-for="TCKOg"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Toplam</label>
                                <input type="number" min="0" max="9999" class="form-control py-2" id="TCToplam" placeholder="" disabled>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Diğer Erkek</label>
                                <input type="number" min="0" max="9999" asp-for="DEOg" class="form-control py-2 ogrsay" id="DigerErkek" placeholder="">
                                <span class="text-danger" asp-validation-for="DEOg"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Diğer Kız</label>
                                <input type="number" min="0" max="9999" asp-for="DKOg" class="form-control py-2 ogrsay" id="DigerKiz" placeholder="">
                                <span class="text-danger" asp-validation-for="DKOg"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Toplam</label>
                                <input type="number" min="0" max="9999" class="form-control py-2" id="DigerToplam" placeholder="" disabled>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Erkek Toplam</label>
                                <input type="number" min="0" max="9999" class="form-control py-2" id="ToplamErkek" placeholder="" disabled>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Kız Toplam</label>
                                <input type="number" min="0" max="9999" class="form-control py-2" id="ToplamKiz" placeholder="" disabled>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Genel Toplam</label>
                                <input type="number" min="0" max="9999" class="form-control py-2" id="GenelToplam" placeholder="" disabled>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-12">                            
                            <input type="submit" value="Kaydet" class="btn btn-success btn-sm mb-1" style="width:100px" />
                            <a asp-controller="Ogrenciler" asp-action="OgrenciEkle" id="degistir" name="degistir" class="btn btn-info btn-sm mb-1 disabled" style="width:100px">Değiştir</a>
                            <a asp-controller="Ogrenciler" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger btn-sm mb-1" style="width:100px">Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(".ogrsay").on("input", function () {
                        
            var tcerkek = $("#TCErkek").val();
            var tcerk = parseInt(tcerkek);
            var tckiz = $("#TCKiz").val();
            var tckz = parseInt(tckiz);

            var dgerkek = $("#DigerErkek").val();
            var dgerk = parseInt(dgerkek);
            var dgkiz = $("#DigerKiz").val();
            var dgkz = parseInt(dgkiz);

            document.getElementById("TCToplam").value = tcerk + tckz;
            document.getElementById("DigerToplam").value = dgerk + dgkz;
            document.getElementById("ToplamErkek").value = tcerk + dgerk;
            document.getElementById("ToplamKiz").value = tckz + dgkz;
            document.getElementById("GenelToplam").value = tcerk + tckz + dgerk + dgkz;         


        });
    </script>
            }



