@model YOGBIS.Common.VModels.SoruBankasiVM
@{
    ViewData["Title"] = "Soru Bankası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="card shadow-lg rounded-lg mt-0 h-100">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                <b>Kayıt İşlemleri</b>
            </div>
            <div class="card-body">
                <form class="form-group m-0" asp-action="SoruEkle">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SoruBankasiId" class="small mb-1 font-weight-bold">Soru Numarası</label>
                                <input asp-for="SoruBankasiId" type="number" class="form-control py-2" id="CreateTypeInput" placeholder="Soru Numarası Giriniz">
                                <span class="text-danger" asp-validation-for="SoruBankasiId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SoruDurumu" class="small mb-1 font-weight-bold">Sorulabilir ?</label>
                                <select asp-for="SoruDurumu" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option asp-for="SoruDurumu" selected class="text-center"></option>
                                    <option asp-for="SoruDurumu" value="Evet">Evet</option>
                                    <option asp-for="SoruDurumu" value="Hayır">Hayır</option>
                                </select>
                                <span class="text-danger" asp-validation-for="SoruDurumu"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Derecesi" class="small mb-1 font-weight-bold">Derece</label>
                                <select asp-for="Derecesi" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option asp-for="Derecesi" selected class="text-center"></option>
                                    <option asp-for="Derecesi" value="Öğretmen">Öğretmen</option>
                                    <option asp-for="Derecesi" value="Okutman">Okutman</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Derecesi"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SorulmaSayisi" class="small mb-1 font-weight-bold">Sorulma Sayısı</label>
                                <input asp-for="SorulmaSayisi" type="number" class="form-control py-2" id="CreateTypeInput" placeholder="" disabled readonly>
                                <span class="text-danger" asp-validation-for="SorulmaSayisi"></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <button class="form-control dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Seçim yapınız
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">-->
                    <!-- Default unchecked -->
                    <!--<div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1">Öğretmen</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox2">
                                            <label class="custom-control-label" for="checkbox2">Okutman</label>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="SoruKategoriId" class="small mb-1 font-weight-bold">Kategorisi</label>
                                <select asp-for="SoruKategoriId" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option asp-for="SoruKategoriId" selected class="text-center"></option>
                                    <option asp-for="SoruKategoriId" value="1">1</option>
                                    <option asp-for="SoruKategoriId" value="2">2</option>
                                </select>
                                <span class="text-danger" asp-validation-for="SoruKategoriId"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Soru" class="small mb-1 font-weight-bold">Soru</label>
                                <textarea asp-for="Soru" placeholder="Soruyu buraya yazınız..." class="form-control" id="SoruTextArea" rows="7"></textarea>
                                <span class="text-danger" asp-validation-for="Soru"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Cevap" class="small mb-1 font-weight-bold">Cevap</label>
                                <textarea asp-for="Cevap" placeholder="Cevabı buraya yazınız..." class="form-control" id="CevapTextArea" rows="5"></textarea>
                                <span class="text-danger" asp-validation-for="Cevap"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <a asp-controller="SoruBankasi" asp-action="SoruEkle" id="yenile" name="yenile" class="btn btn-primary btn-sm mb-1" style="width:100px">Yeni Kayıt</a>
                            <input type="submit" value="Kaydet" class="btn btn-success btn-sm mb-1" style="width:100px"/>
                            <a asp-controller="SoruBankasi" asp-action="SoruEkle" id="yenile" name="degistir" class="btn btn-info btn-sm mb-1" style="width:100px">Değiştir</a>
                            <a asp-controller="SoruBankasi" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger btn-sm mb-1 disabled" style="width:100px">Sil</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-lg rounded-lg mt-0 h-100">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                <b>Soru Listesi</b>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="myTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sıra No</th>
                                <th>Soru No</th>
                                <th>Kategori Adı</th>
                                <th>Soru</th>
                                <th>Cevap</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1</td></tr>
                            <tr><td>2</td></tr>
                            <tr><td>3</td></tr>
                            <tr><td>4</td></tr>
                            <tr><td>5</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />    
}


