@model YOGBIS.Common.VModels.SoruBankasiVM
@{
    ViewData["Title"] = "Soru Bankası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-pen mr-1"></i>
                <b>Soru Bankası Ekleme/Güncelleme</b>
            </div>
            <div class="card-body">
                <form class="form-group m-0" asp-action="SoruEkle">
                    @Html.HiddenFor(x=>x.SoruBankasiId)
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-row">
                            <div class="col-md-3">
                               <div class="form-group">
                                   <label class="small mb-1 font-weight-bold">Soru Numarası</label>
                                   <input type="number" class="form-control py-2" id="CreateTypeInput" placeholder="" disabled>
                                   <span class="text-danger" asp-validation-for="SoruBankasiId"></span>
                               </div>
                            </div>
                        <div class="col-md-3">
                            @*<div class="form-group">
                                <label asp-for="DereceId" class="small mb-1 font-weight-bold">Derece</label>
                                @Html.DropDownListFor(u => u.DereceId, new SelectList(ViewBag.Dereceler, "DereceId", "DereceAdi"), "Dereceyi seçiniz", new { @class = "form-control-range form-control py-2" })
                                <span class="text-danger" asp-validation-for="DereceId"></span>
                            </div>*@
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SoruDurumu" class="small mb-1 font-weight-bold">Sorulabilir ?</label>
                                <select asp-for="SoruDurumu" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option asp-for="SoruDurumu" selected class="text-center"></option>
                                    <option asp-for="SoruDurumu" value="True">Evet</option>
                                    <option asp-for="SoruDurumu" value="False">Hayır</option>
                                </select>
                                <span class="text-danger" asp-validation-for="SoruDurumu"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Sorulma Sayısı</label>
                                <input type="number" class="form-control py-2" id="CreateTypeInput" placeholder="" disabled>
                                <span class="text-danger" asp-validation-for="SorulmaSayisi"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            @*<div class="form-group">
                                <label asp-for="SoruKategorilerId" class="small mb-1 font-weight-bold">Kategorisi</label>
                                @Html.DropDownListFor(a => a.SoruKategorilerId, new SelectList(ViewBag.Kategoriler, "SoruKategorilerId", "SoruKategorilerAdi"), " ", new { @class = "form-control-range form-control py-2" })
                                <span class="text-danger" asp-validation-for="SoruKategorilerId"></span>
                            </div>*@
                        </div>
                    </div>                    
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Soru" class="small mb-1 font-weight-bold">Soru</label>
                                <textarea asp-for="Soru" placeholder="Soruyu buraya yazınız..." class="form-control" id="SoruTextArea" rows="7"></textarea>
                                <span class="text-danger" asp-validation-for="Soru"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Cevap" class="small mb-1 font-weight-bold">Cevap</label>
                                <textarea asp-for="Cevap" placeholder="Cevabı buraya yazınız..." class="form-control" id="CevapTextArea" rows="5"></textarea>
                                <span class="text-danger" asp-validation-for="Cevap"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <a class="btn btn-primary btn-sm text-white mb-1" id="btnYeni" style="width:100px">Yeni Kayıt</a>
                            <input type="submit" value="Kaydet" class="btn btn-success btn-sm text-white mb-1" style="width:100px" />
                            <a class="btn btn-danger btn-sm text-white mb-1" id="btnSil" style="width:100px">Sil</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-lg rounded-lg mt-0 h-100">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                <b>Soru Listesi</b>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="myTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sıra No</th>
                                <th>Soru No</th>
                                <th>Kaydeden</th>
                                <th>Durumu</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1</td></tr>
                            <tr><td>2</td></tr>
                            <tr><td>3</td></tr>
                            <tr><td>4</td></tr>
                            <tr><td>5</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />    
}


