@model IEnumerable<YOGBIS.Common.VModels.UlkeTercihVM>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Ülke Tercihleri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Ülke Grubu</th>
                        <th>Yabancı Dil</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var sirano = 0;
                    }
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td>
                                    <a asp-controller="UlkeTercihleri" asp-action="Guncelle" asp-route-id="@item.UlkeTecihId">@item.UlkeTercihAdi</a>
                                </td>
                                <td>
                                    @item.YabancıDil
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

