@model YOGBIS.Common.VModels.AdaylarVM


<div class="card card shadow-xl rounded-xl col-xl-12">
    <!-- Tablo etiketleri -->
    <div class="row equal-height-row d-flex flex-wrap m-0">
        <div class="col-lg-2 d-flex flex-column justify-content-between">
            <p class="card-text text-center text-primary font-weight-bold p-1 small">
                <span id="adsoyad">Komisyon Üye Ad Soyad</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-center text-primary font-weight-bold p-1 small">
                <span id="adsoyad">MYYS Puan</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-center text-primary font-weight-bold p-1 small">
                <span id="adsoyad">Kategori-1</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-center text-primary font-weight-bold p-1 small">
                <span id="adsoyad">Kategori-2</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-center text-primary font-weight-bold p-1 small">
                <span id="adsoyad">Kategori-3</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-center text-primary font-weight-bold p-1 small">
                <span id="adsoyad">Kategori-4</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-center text-primary font-weight-bold p-1 small">
                <span id="adsoyad">Kanaat Puanı</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-center text-primary font-weight-bold p-1 small">
                <span id="adsoyad">TOPLAM</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-left text-primary font-weight-bold p-1 small">
                <span id="adsoyad">Ortalama</span>
            </p>
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-left text-primary font-weight-bold p-1 small">
                <span id="adsoyad">MYS Puan</span>
            </p>          
        </div>
        <div class="col-lg-1 d-flex flex-column justify-content-between">
            <p class="card-text text-left text-primary font-weight-bold p-1 small">
                <span id="adsoyad">MYS Sonuç</span>
            </p>
        </div>
    </div>
    <!-- Aday Not Bloğu -->
    <div class="card-body">
        <form class="form-group m-0" id="validationForm">
            @Html.HiddenFor(x => x.AdayId)
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>   
            <!-- Not Formu -->
            <div class="form-row equal-height-row d-flex flex-wrap">
                <!-- Komisyon Üue Bilgileri -->
                <div class="col-md-2 d-flex flex-column justify-content-between">
                    <div class="form-row equal-height-row d-flex flex-wrap">
                        <div class="col-md-12 d-flex flex-column justify-content-between">
                            <div class="form-group">
                                <input asp-for="DogumYeri" type="text" class="form-control py-1 font-weight-bold" id="KomisyonAd-1" disabled value="KomisyonBaşkanAdSoyad">
                            </div>
                            <div class="form-group">
                                <input asp-for="DogumYeri" type="text" class="form-control py-1 font-weight-bold" id="KomisyonAd-2" disabled value="KomisyonÜyeAdSoyad">
                            </div>
                            <div class="form-group">
                                <input asp-for="DogumYeri" type="text" class="form-control py-1 font-weight-bold" id="KomisyonAd-3" disabled value="KomisyonÜyeAdSoyad">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Aday MYYS Puan -->
@*                 <div class="col-md-1 d-flex flex-column justify-content-between">
                    <div class="form-group h-100">
                        <input asp-for="IkametIl" type="text" class="form-control py-1 text-sm-left font-weight-bold h-100" id="MYYSPuan" disabled value="78.3333" style="font-size:small">
                    </div>
                </div> *@
                <!-- Komisyon Not Bloğu -->
@*                 <div class="col-6 w-100 input-container">
                    <div class="form-row equal-height-row d-flex flex-wrap" id="Komisyon1Blok">
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon1Not komisyonnotlar validate-input" min="0" max="20" id="Kategori1-1" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon1Not komisyonnotlar validate-input" min="0" max="20" id="Kategori1-2" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon1Not komisyonnotlar validate-input" min="0" max="20" id="Kategori1-3" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon1Not komisyonnotlar" min="0" max="20" id="Kategori1-4" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon1Not komisyonnotlar" min="0" max="20" id="Kategori1-5" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komtoplamlar komisyonnotlar" min="0" max="100" id="Toplam1" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-row equal-height-row d-flex flex-wrap" id="Komisyon2Blok">
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon2Not komisyonnotlar validate-input" min="0" max="20" id="Kategori2-1" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon2Not komisyonnotlar validate-input" min="0" max="20" id="Kategori2-2" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon2Not komisyonnotlar validate-input" min="0" max="20" id="Kategori2-3" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon2Not komisyonnotlar" min="0" max="20" id="Kategori2-4" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon2Not komisyonnotlar" min="0" max="20" id="Kategori2-5" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komtoplamlar" min="0" max="100" id="Toplam2" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-row equal-height-row d-flex flex-wrap" id="Komisyon3Blok">
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon3Not komisyonnotlar validate-input" min="0" max="20" id="Kategori3-1" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon3Not komisyonnotlar validate-input" min="0" max="20" id="Kategori3-2" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon3Not komisyonnotlar validate-input" min="0" max="20" id="Kategori3-3" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon3Not komisyonnotlar" min="0" max="20" id="Kategori3-4" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komisyon3Not komisyonnotlar" min="0" max="20" id="Kategori3-5" required>
                            </div>
                        </div>
                        <div class="col w-auto">
                            <div class="form-group">
                                <input asp-for="KurumAdi" type="number" class="form-control py-1 text-center font-weight-bold komtoplamlar komisyonnotlar" min="0" max="100" id="Toplam3" disabled>
                            </div>
                        </div>
                    </div>
                </div> *@
                <!-- Ortalama Puan -->
                @* <div class="col-md-1 d-flex flex-column justify-content-between">
                    <div class="form-group h-100">
                        <input asp-for="IkametIl" type="text" class="form-control py-1 text-center font-weight-bold h-100" id="Ortalama" disabled>
                    </div>
                </div> *@
                <!-- MYS Puan -->
                @* <div class="col-md-1 d-flex flex-column justify-content-between">
                    <div class="form-group h-100">
                        <input asp-for="IkametIl" type="text" class="form-control py-1 text-center font-weight-bold h-100" id="MYSPuan" disabled>
                    </div>
                </div> *@
                <!-- MYS Sonuç -->
                @* <div class="col-md-1 d-flex flex-column justify-content-between">
                    <div class="form-group h-100">
                        <input asp-for="IkametIl" type="text" class="form-control py-1 text-left text-success font-weight-bold h-100" id="MYSSonuc" disabled>
                    </div>
                </div> *@
            </div>
            <!-- buton blok -->
            <div class="form-row mb-2">
                <div class="col-md-12">
                    <input type="submit" value="Kaydet" class="btn btn-success btn-sm text-white w-100" id="btnNotFormKapat"/>                    
                </div>
            </div>
        </form>
    </div>
</div>


