@model YOGBIS.Common.VModels.MulakatSorulariVM
@{
    ViewData["Title"] = "Mülakat Soru Güncelleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Mülakat Sorusu Güncelleme
    </div>
    <div class="card-body">
        <form class="form-group mt-2" asp-action="MulakatSoruGuncelle">

            @Html.HiddenFor(x => Model.MulakatSorulariId)
            <input type="hidden" asp-for="MulakatSorulariId" />

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="SoruSiraNo" class="col-sm-3 h6">Soru Sıra Numarası</label>
                <div class="col-sm-5">
                    <input asp-for="SoruSiraNo" type="text" class="col-sm-6" id="CreateTypeInput" placeholder="Soru Sıra No Giriniz">
                </div>
                <span class="text-danger col-sm-12" asp-validation-for="SoruSiraNo"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoruNo" class="col-sm-3 h6">Soru Numarası</label>
                <div class="col-sm-5">
                    <input asp-for="SoruNo" type="text" class="col-sm-6" id="CreateTypeInput" placeholder="Soru No Giriniz">
                </div>
                <span class="text-danger col-sm-12" asp-validation-for="SoruNo"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soru" class="col-sm-3 h6">Soru</label>
                <div class="col-sm-9">
                    @*<input asp-for="Soru" type="text" class="col-sm-12" id="CreateTypeInput" placeholder="Soruyu Giriniz">*@
                    <textarea asp-for="Soru" placeholder="Soruyu buraya yazınız..." class="form-control col-sm-12" id="SoruTextArea" rows="3"></textarea>
                </div>
                <span class="text-danger col-sm-12" asp-validation-for="Soru"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cevap" class="col-sm-3 h6">Cevap</label>
                <div class="col-sm-9">
                    @*<input asp-for="Cevap" type="text" class="col-sm-12" id="CreateTypeInput" placeholder="Cevabı Giriniz">*@
                    <textarea asp-for="Cevap" placeholder="Cevabı buraya yazınız..." class="form-control col-sm-12" id="CevapTextArea" rows="3"></textarea>
                </div>
                <span class="text-danger col-sm-12" asp-validation-for="Cevap"></span>
            </div>

            <div class="col-sm-9">
                <input type="submit" value="Kaydet" class="btn btn-success" />
                <a asp-controller="MulakatSorulari" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger">Vazgeç</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}