@model YOGBIS.Common.VModels.MulakatSorulariVM
@{
    ViewData["Title"] = "Mülakat Soru Güncelleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mülakat Sorusu Güncelleme</h1>

<form class="form-group mt-2" asp-action="MulakatSoruGuncelle">
    
    @Html.HiddenFor(x=>Model.MulakatSorulariId)
    <input type="hidden" asp-for="MulakatSorulariId"/>

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="SoruSiraNo" class="col-sm-3 h5">Soru Sıra No</label>
        <div class="col-sm-3">
            <input asp-for="SoruSiraNo" type="text" class="col-sm-12" id="CreateTypeInput" placeholder="Soru Sıra No Giriniz">
        </div>
        <span class="text-danger col-sm-12" asp-validation-for="SoruSiraNo"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoruNo" class="col-sm-3 h5">Soru No</label>
        <div class="col-sm-3">
            <input asp-for="SoruNo" type="text" class="col-sm-12" id="CreateTypeInput" placeholder="Soru No Giriniz">
        </div>
        <span class="text-danger col-sm-12" asp-validation-for="SoruNo"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soru" class="col-sm-3 h5">Soru Sıra No</label>
        <div class="col-sm-9">
            <input asp-for="Soru" type="text" class="col-sm-12" id="CreateTypeInput" placeholder="Soruyu Giriniz">
        </div>
        <span class="text-danger col-sm-12" asp-validation-for="Soru"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cevap" class="col-sm-3 h5">Soru Sıra No</label>
        <div class="col-sm-9">
            <input asp-for="Cevap" type="text" class="col-sm-12" id="CreateTypeInput" placeholder="Cevabı Giriniz">
        </div>
        <span class="text-danger col-sm-12" asp-validation-for="Cevap"></span>
    </div>

    <div class="col-sm-9">
        <input type="submit" value="Kaydet" class="btn btn-success" />
        <button asp-controller="MulakatSorulari" asp-action="Index" class="btn btn-danger">Vazgeç</button>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}