@model YOGBIS.Common.VModels.MulakatSorulariVM
@{
    ViewData["Title"] = "Mülakat Soruları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg rounded-lg mt-0">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                <b>Mülakat Sorusu Ekleme</b>
            </div>
            <div class="card-body">
                <form class="form-group m-0" asp-action="MulakatSoruEkle">
                    @Html.HiddenFor(x => x.MulakatSorulariId)
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SoruSiraNo" class="small mb-1 font-weight-bold">Soru Sıra Numarası</label>
                                <input asp-for="SoruSiraNo" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Soru Sıra No Giriniz">
                                <span class="text-danger" asp-validation-for="SoruSiraNo"></span>
                            </div>@*<--!SoruSiraNo-->*@
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SoruNo" class="small mb-1 font-weight-bold">Soru Numarası</label>
                                <input asp-for="SoruNo" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Soru No Giriniz">
                                <span class="text-danger" asp-validation-for="SoruNo"></span>
                            </div>@*<--!SoruNo-->*@
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="DereceId" class="small mb-1 font-weight-bold">Derece</label>
                                @Html.DropDownListFor(u => u.DereceId, new SelectList(ViewBag.Dereceler,
                                         "DereceId", "DereceAdi"), "Dereceyi seçiniz", new { @class = "form-control-range form-control py-2" })
                                <span class="text-danger" asp-validation-for="DereceId"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SoruKategoriAdi" class="small mb-1 font-weight-bold">Kategori No</label>
                                <input asp-for="SoruKategoriAdi" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Kategori Adını Giriniz">
                                <span class="text-danger" asp-validation-for="SoruKategoriAdi"></span>
                            </div>@*<--!KategoriId-->*@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SoruKategoriId" class="small mb-1 font-weight-bold">Kategori No</label>
                                <input asp-for="SoruKategoriId" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Kategori No Giriniz">
                                <span class="text-danger" asp-validation-for="SoruKategoriId"></span>
                            </div>@*<--!KategoriID-->*@
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SoruDereceId" class="small mb-1 font-weight-bold">Derece No</label>
                                <input asp-for="SoruDereceId" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Derece No Giriniz">
                                <span class="text-danger" asp-validation-for="SoruDereceId"></span>
                            </div>@*<--!SoruDereceId-->*@
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SinavKategoriID" class="small mb-1 font-weight-bold">Sınav Kategori No</label>
                                <input asp-for="SinavKategoriID" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Sınav Kategori No Giriniz">
                                <span class="text-danger" asp-validation-for="SinavKategoriID"></span>
                            </div>@*<--!SinavKategoriID-->*@
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="MulakatId" class="small mb-1 font-weight-bold">Mülakat No</label>
                                <input asp-for="MulakatId" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Mülakat No Giriniz">
                                <span class="text-danger" asp-validation-for="MulakatId"></span>
                            </div>@*<--!MulakatId-->*@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="SinavKategoriAdi" class="small mb-1 font-weight-bold">Sınav Kategori Adı</label>
                                <input asp-for="SinavKategoriAdi" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Sınav Kategori Adını Giriniz">
                                <span class="text-danger" asp-validation-for="SinavKategoriAdi"></span>
                            </div>@*<--!SinavKategoriAdi-->*@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Soru" class="small mb-1 font-weight-bold">Soru</label>
                                <textarea asp-for="Soru" placeholder="Soruyu buraya yazınız..." class="form-control" id="SoruTextArea" rows="5"></textarea>
                                <span class="text-danger" asp-validation-for="Soru"></span>
                            </div>@*<--!Soru-->*@
                        </div>
                        @*</div>
                        <div class="form-row">*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Cevap" class="small mb-1 font-weight-bold">Cevap</label>
                                <textarea asp-for="Cevap" placeholder="Cevabı buraya yazınız..." class="form-control" id="CevapTextArea" rows="5"></textarea>
                                <span class="text-danger" asp-validation-for="Cevap"></span>
                            </div>@*<--!Cevap-->*@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="submit" value="Kaydet" class="btn btn-success btn-sm text-white" style="width:100px" />
                            <a asp-controller="MulakatSorulari" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger btn-sm" style="width:100px">Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @await Component.InvokeAsync("MulakatSorulariListesi")
    </div>
</div>