@model YOGBIS.Common.VModels.OkullarVM
@{
    ViewData["Title"] = "Okul Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-lg rounded-lg mt-0 h-100">
            <div class="card-header">
                <i class="fas fa-pen mr-1"></i>
                <b>Okul Ekleme/Güncelleme</b>
            </div>
            <div class="card-body">
                <form class="form-group m-0" asp-action="OkulEkle">
                    @Html.HiddenFor(x => x.OkulId)
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="OkulUlkeId" class="small mb-1 font-weight-bold">Bulunduğu Ülke</label>
                                        @Html.DropDownListFor(u => u.OkulUlkeId, new SelectList(ViewBag.UlkeAdi, "UlkeId", "UlkeAdi"),
                                       "Ülkeyi seçiniz", new { @class = "form-control-range form-control py-2" })
                                        <span class="text-danger" asp-validation-for="OkulUlkeId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="OkulKodu" class="small mb-1 font-weight-bold">Okul Kodu</label>
                                        <input asp-for="OkulKodu" type="number" min="0" class="form-control py-2" id="CreateTypeInput" placeholder="Okul Kodunu yazınız">
                                        <span class="text-danger" asp-validation-for="OkulKodu"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="OkulAdi" class="small mb-1 font-weight-bold">Okul Adı</label>
                                        <input asp-for="OkulAdi" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Okul adını yazınız">
                                        <span class="text-danger" asp-validation-for="OkulAdi"></span>
                                    </div>
                                </div>
                            </div>                            
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="OkulTuru" class="small mb-1 font-weight-bold">Okul Türü</label>
                                        <select asp-for="OkulTuru" class="form-control-range form-control py-2" aria-label="Default select example">
                                            <option asp-for="OkulTuru" selected class="text-left">Okul türünü seçiniz</option>
                                            <option asp-for="OkulTuru" value="ilkokul">İlkokul</option>
                                            <option asp-for="OkulTuru" value="ortaokul">Ortaokul</option>
                                            <option asp-for="OkulTuru" value="imamhatiportaokulu">İmam Hatip Ortaokulu</option>
                                            <option asp-for="OkulTuru" value="anadoluimamhatiplisesi">Anadolu İmam Hatip Lisesi</option>
                                            <option asp-for="OkulTuru" value="anadolulisesi">Anadolu Lisesi</option>
                                            <option asp-for="OkulTuru" value="cokprogramlıanadolulisesi">Çok Programlı Anadolu Lisesi</option>
                                            <option asp-for="OkulTuru" value="anadolukizmesleklisesi">Anadolu Kız Meslek Lisesi</option>
                                            <option asp-for="OkulTuru" value="turkiyeturkcesiogretimmerkezi">Türkiye Türkçesi Öğretim Merkezi</option>
                                        </select>
                                        <span class="text-danger" asp-validation-for="OkulTuru"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-check-inline">
                                            <label asp-for="OkulDurumu" class="form-check-label mb-1 mr-1 small font-weight-bold">Okul Durumu</label>
                                            <input type="checkbox" asp-for="OkulDurumu" class="form-check-input mb-1" />
                                            <span class="text-danger" asp-validation-for="OkulDurumu"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="OkulMudurId" class="small mb-1 font-weight-bold">Okul Müdürü</label>
                                        @Html.DropDownListFor(u => u.OkulMudurId, new SelectList(ViewBag.OkulMuduru, "Id", "AdSoyad"),
                                       "Okul Müdürünü seçiniz", new { @class = "form-control-range form-control py-2" })
                                        <span class="text-danger" asp-validation-for="OkulMudurId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <a class="btn btn-primary btn-sm text-white mb-1" id="btnYeni" style="width:100px" asp-controller="Okullar" asp-action="OkulEkle">Yeni Kayıt</a>
                                    <input type="submit" value="Güncelle" class="btn btn-info btn-sm text-white mb-1" style="width:100px" id="btnguncelle" />
                                    <a class="btn btn-danger btn-sm text-white mb-1" id="btnSil" style="width:100px">Sil</a>
                                    <a asp-controller="Okullar" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger btn-sm text-white mb-1" style="width:100px">Vazgeç</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @await Component.InvokeAsync("OkulListesi")
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $("#btnSil").on("click", function () {

            document.getElementById("OkulId").focus();
            var okulid = $("#OkulId").val();

            bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                if (result) {
                    $.ajax({
                        type: "DELETE",
                        url: "/Okullar/OkulSil/" + okulid,
                        success: function () {
                            window.location.href = "/Okullar/OC10002";
                        }
                    });
                }
            });

        });

    </script>

}

