
@model IEnumerable<YOGBIS.Common.VModels.OkullarVM>
@{
    ViewData["Title"] = "Okullar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .block {
        position: fixed;
        z-index: 2;
        right: 15px;
        top: 95px;
    }
</style>

<ol class="breadcrumb mb-4 mt-2">
    <li>
        <a asp-controller="Okullar" asp-action="OkulEkle" class="btn btn-success btn-circle btn-sm w-100" title="Yeni Kayıt">
            Yeni Kayıt <i class="fas fa-plus-circle"></i>
        </a>
    </li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Okullar</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        @*<th class="align-middle text-center">Seç</th>*@
                        <th class="text-center">Sıra No</th>
                        <th class="text-center">Ülke</th>
                        <th class="text-center">Okul Kodu</th>
                        <th class="text-center">Okul Adı</th>
                        @*<th class="text-center">Düzenle</th>*@
                        @*<th class="text-center">Sil</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr>                                
                        <td>1</td>
                        <td><a asp-controller="Ulkeler" asp-action="UlkeDetay">Azerbaycan</a></td>
                        <td>909525</td>
                        <td><a asp-controller="Okullar" asp-action="OkulDetay">Bakü Türk İlkokulu</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            $("#myTable").on("click", ".btnSil", function () {
                var btn = $(this);
                bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "DELETE",
                            url: "/Okullar/OkulSil/" + id,
                            success: function () {
                                btn.parent().parent().remove();
                                location.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>
}




