
@{
    ViewData["Title"] = "OkulDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-11"><h3>Bakü Türk İlkokulu</h3></div>
            <div class="col-md-1"><img id="okulLogo" class="icon-circle rounded-circle pull_right" alt="Okul Logo" src="~/img/LogoGiris.png"></div>
        </div>
        <hr />
        <div class="row">
            <img id="okulResim" class="img-fluid fa-border-none w-100" style="height:400px" alt="Okul Fotoğrafı" src="~/img/Okullar/BaküTürkİlkokulu.jpg">
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-weight-bold">Hizmete Geçiş&nbsp;&nbsp;&nbsp;: <label class="text-dark text-muted font-weight-light">2005/2006 Öğretim Yılı</label></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-weight-bold">Kapalı Alan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <label class="text-dark text-muted font-weight-light">15.500 m<sup>2</sup></label></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-weight-bold">Açık Alan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <label class="text-dark text-muted font-weight-light">40.000 m<sup>2</sup></label></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-weight-bold">Mülki Durum&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <label class="text-dark text-muted font-weight-light">Kiralık</label></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-weight-bold">İnternet Adresi&nbsp;&nbsp;: <label class="text-dark text-muted font-weight-light"><a href="https://batio.meb.k12.tr" class="text-dark text-decoration-none" target="_blank">https://batio.meb.k12.tr</a></label></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-weight-bold">E-Posta Adresi&nbsp;&nbsp;&nbsp;: <label class="text-dark text-muted font-weight-light"><a class="text-dark text-decoration-none">batio@meb.k12.tr</a></label></p>
                    </div>
                </div>
            </div>           
        </div>
        <hr />
        <div class="row">
            <p class="font-weight-bold ml-3">Tarihçesi:</p>
        </div>
        <div class="row">
            <p class="font-italic">Okulumuz .... tarihinde açılmış........</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 ml-2"><h3>FİZİKİ KAPASİTE</h3></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 pl-5 pr-5">
                <p class="font-weight-bold">18 <label class="font-weight-light">Derslik</label></p>
                <hr />
                <p class="font-weight-bold">3 <label class="font-weight-light">İdari Ofis</label></p>
                <hr />
                <p class="font-weight-bold">1 <label class="font-weight-light">Çok Amaçlı Salon</label></p>
                <hr />
                <p class="font-weight-bold">1 <label class="font-weight-light">Öğretmenler Odası</label></p>
                <hr />
            </div>            
        </div>
        <div class="row">
            <div class="col-md-12 ml-2"><h3>OKUL KADROSU</h3></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 ml-2">
                <div class="table-responsive w-100">
                    <table class="table table-bordered table-hover table-striped display responsive nowrap" id="Table" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Sıra No</th>
                                <th class="text-center">Adı Soyadı</th>
                                <th class="text-center">Görevi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><a class="text-dark text-left" asp-controller="Ogretmenler" asp-action="OgretmenDetay">Nurullah Feyzi YAZICI</a></td>
                                <td><a class="text-dark text-left">Okul Müdürü</a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><a class="text-dark text-left" asp-controller="Ogretmenler" asp-action="OgretmenDetay">Hayri YILDIZ</a></td>
                                <td><a class="text-dark text-left">Okul Müdürü Yardımcısı</a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><a class="text-dark text-left" asp-controller="Ogretmenler" asp-action="OgretmenDetay">Fatih GÖK</a></td>
                                <td><a class="text-dark text-left">Öğretmen</a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><a class="text-dark text-left" asp-controller="Ogretmenler" asp-action="OgretmenDetay">Alparslan YÜKSEL</a></td>
                                <td><a class="text-dark text-left">Öğretmen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

