@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="justify-content-center text-center">
    <p><h1>YOGBIS.TEST</h1></p>
    <p><h3>Yurt Dışı Okutman/Öğretmen Görevlendirme Bilgi İşletim Sistemi</h3></p>
    @*<p><a class="btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a></p>*@
</div>
